body{
    margin: 0;
}

.navbarContainer{
    display: flex;
    height: 10vh;
    line-height: 100px;
    background-color: #000;
    color: #fff;
    justify-content: flex-end;
}

.elementNavbar{
    display: flex;
    gap: 20px;
    padding-right: 100px;
}

.sectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 90vh;
}

.elementContainer{
    text-align: center;
    margin-top: 40px;
}